<%- include('../layouts/head.ejs') %>

    <body>
        <%- include('../layouts/userNav.ejs') %>
        <div class="cart-container">
            <h2 style="margin-top: 40px; margin-left:40px;">You have no any Cart product.</h2>
        </div>
        
            <%- include('../layouts/footer.ejs') %>
    </body>

    </html> 